name: Test fast (no changes to Dockerfile)

on:
  pull_request:
  merge_group:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  check-container:
    runs-on: ubuntu-latest
    outputs:
      exists: ${{ steps.check.outputs.exists }}
    steps:
      - name: Check if Docker image exists
        id: check
        run: |
          if docker manifest inspect cometbft/cometbft-db-testing:v1.0.2 &>/dev/null; then
            echo "exists=true" >> $GITHUB_OUTPUT
          else
            echo "exists=false" >> $GITHUB_OUTPUT
          fi

  test-fast:
    needs: check-container
    if: needs.check-container.outputs.exists == 'true'
    runs-on: ubuntu-latest
    container: cometbft/cometbft-db-testing:v1.0.2
    steps:
      - uses: actions/checkout@v4

      - name: Configure Git Safe Directory
        run: git config --global --add safe.directory /__w/cometbft-db/cometbft-db

      - uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: test & coverage report creation
        run: |
          NON_INTERACTIVE=1 make test-all-with-coverage

      - uses: codecov/codecov-action@v4
        with:
          file: ./coverage.txt

  test-slow:
    needs: check-container
    if: needs.check-container.outputs.exists == 'false'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Build
        uses: docker/setup-buildx-action@v3
        with:
          driver: docker

      - name: Build Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./tools
          file: ./tools/Dockerfile
          tags: "cometbft/cometbft-db-testing:latest"
          load: true

      - name: test & coverage report creation
        run: |
          NON_INTERACTIVE=1 make docker-test

      - uses: codecov/codecov-action@v4
        with:
          file: ./coverage.txt
