name: Test

on:
  pull_request:
  merge_group:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  check-tools:
    runs-on: ubuntu-latest
    outputs:
      tools_changed: ${{ steps.check.outputs.tools_changed }}
    steps:
      - uses: actions/checkout@v4

      - name: Check if tools/** was modified
        id: check
        run: |
          git fetch origin ${{ github.event.pull_request.base.sha }} --depth=1
          if git diff --name-only ${{ github.event.pull_request.base.sha }} | grep -q '^tools/'; then
            echo "tools_changed=true" >> $GITHUB_OUTPUT
          else
            echo "tools_changed=false" >> $GITHUB_OUTPUT
          fi

  test-fast:
    needs: check-tools
    if: needs.check-tools.outputs.tools_changed == 'false'
    runs-on: ubuntu-latest
    container: cometbft/cometbft-db-testing
    steps:
      - uses: actions/checkout@v4

      - run: echo "GO_VERSION=$(cat .github/workflows/go-version.env | grep GO_VERSION | cut -d '=' -f2)" >> $GITHUB_ENV

      - uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: test & coverage report creation
        run: |
          NON_INTERACTIVE=1 make test-all-with-coverage

      - uses: codecov/codecov-action@v4
        with:
          file: ./coverage.txt

  test:
    needs: check-tools
    if: needs.check-tools.outputs.tools_changed == 'true'
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Build
        uses: docker/setup-buildx-action@v3.8.0
        with:
          driver: docker

      - name: Build Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./tools
          file: ./tools/Dockerfile
          tags: "cometbft/cometbft-db-testing:latest"
          load: true

      - name: test & coverage report creation
        run: |
          NON_INTERACTIVE=1 make docker-test

      - uses: codecov/codecov-action@v4
        with:
          file: ./coverage.txt
